.main_area {
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
    margin-top: 1rem;
    gap: 1rem;
    animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    min-height: 375px;
    height: 85vh;
    overflow-y: auto;
    padding: 1rem;
    grid-column: 1/-1;
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .main_area {
        display: grid;
        grid-template-columns: 2.2fr 7fr;
        margin-top: 4.5rem;
        gap: 1rem;
    }

    css Copy code .content {
        min-height: 375px;
        height: 85vh;
        overflow-y: auto;
        padding: 1rem;
        grid-column: auto;
        animation: slide-in 1s ease-in-out;
    }
}